certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
debugpy==1.8.14
frida==16.7.9
frida-tools==13.6.1
idapro @ file:///Applications/IDA%20Professional%209.1.app/Contents/MacOS/idalib/python
idna==3.10
lief==0.16.4
loguru==0.7.3
plumbum==1.9.0
prompt_toolkit==3.0.50
Pygments==2.19.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.15.0
requests==2.32.3
rpyc==6.0.1
tomli==2.2.1
tornado==6.4.2
urllib3==2.3.0
wcwidth==0.2.13
websockets==13.1
